virtualenv
.idea/*__pycache__
*.pyc

.idea/*.*ml
.idea/.name
*.txt
__pycache__
*/
test.py
update_tags.py
*.bak*
*.old
*.port
*.zip
*.xdelta
*.exe
*.bat
*.iso*
*.csv
delete.py
*.bin*
build
source
Makefile