[Game Directories]
@USA=
@JPN=

[Modding Directories]
@Game Files=game_files
@Scripts=script_dumps
@Patches=patches

[File Lists]
@USA=file_list.txt
@JPN=file_list.txt

[File Swap]
@JPN:USA=file_list.txt

[Mod List]

[Game Discs]
#USA
@All Discs=All_USA
OHTA/MCX/DABAS.BIN=0
OVL/BTTL.OV_=0
OVL/S_BTLD.OV_=0
OVL/S_EFFE.OV_=0
OVL/S_INIT.OV_=0
OVL/S_ITEM.OV_=0
OVL/S_STRM.OV_=0
OVL/SMAP.OV_=0
OVL/TEMP.OV_=0
OVL/TTLE.OV_=0
OVL/WMAP.OV_=0
SECT/DRGN0.BIN=0
SECT/DRGN1.BIN=0
SIM/MES.MVB=0
SUBMAP/NEWROOT.RDT=0
XA/LODXA00.XA=0
XA/LODXA01.XA=0
XA/LODXA02.XA=0

@Disc 1=
SECT/DRGN21.BIN=0
STR/DEMO2.IKI=0
STR/DEMOH.IKI=0
STR/OPENH.IKI=0
STR/WAR1H.IKI=0
XA/LODXA03.XA=0
SCUS_944.91=0
SYSTEM.CNF=0

@Disc 2=
SECT/DRGN22.BIN=0
STR/GOAST.IKI=0
STR/ROZEH.IKI=0
STR/TVRH.IKI=0
XA/LODXA03.XA=0
SCUS_945.84=0
SYSTEM.CNF=0

@Disc 3=
SECT/DRGN23.BIN=0
STR/BLACKH.IKI=0
STR/DEIASH.IKI=0
STR/DENIN.IKI=0
STR/DENIN2.IKI=0
STR/DRAGON1.IKI=0
STR/DRAGON2.IKI=0
STR/TREEH.IKI=0
STR/WAR2H.IKI=0
XA/LODXA03.XA=0
SCUS_945.85=0
SYSTEM.CNF=0

@Disc 4=
SECT/DRGN24.BIN=0
STR/ENDING1H.IKI=0
STR/ENDING2H.IKI=0
STR/MOONH.IKI=0
XA/LODXA03.XA=0
SCUS_945.86=0
SYSTEM.CNF=0

#JPN
@All Discs=All_JPN
OHTA/MCX/DABAS.BIN=0
OVL/BTTL.OV_=0
OVL/S_BTLD.OV_=0
OVL/S_EFFE.OV_=0
OVL/S_INIT.OV_=0
OVL/S_ITEM.OV_=0
OVL/S_STRM.OV_=0
OVL/SMAP.OV_=0
OVL/TEMP.OV_=0
OVL/TTLE.OV_=0
OVL/WMAP.OV_=0
SECT/DRGN0.BIN=0
SECT/DRGN1.BIN=0
SIM/MES.MVB=0
SUBMAP/NEWROOT.RDT=0
XA/LODXA00.XA=0
XA/LODXA01.XA=0
XA/LODXA02.XA=0

@Disc 1=
DA/MIX.DA=0
SECT/DRGN21.BIN=0
STR/DEMO2.IKI=0
STR/DEMOH.IKI=0
STR/OPENH.IKI=0
STR/WAR1H.IKI=0
SCPS_101.19=0
SYSTEM.CNF=0

@Disc 2=
DA/MIX.DA=0
SECT/DRGN22.BIN=0
STR/GOAST.IKI=0
STR/ROZEH.IKI=0
STR/TVRH.IKI=0
SCPS_101.20=0
SYSTEM.CNF=0

@Disc 3=
DA/MIX.DA=0
SECT/DRGN23.BIN=0
STR/BLACKH.IKI=0
STR/DEIASH.IKI=0
STR/DENIN.IKI=0
STR/DENIN2.IKI=0
STR/DRAGON1.IKI=0
STR/DRAGON2.IKI=0
STR/TREEH.IKI=0
STR/WAR2H.IKI=0
SCPS_101.21=0
SYSTEM.CNF=0

@Disc 4=
SECT/DRGN22.BIN=0
STR/ENDING1H.IKI=0
STR/ENDING2H.IKI=0
STR/MOONH.IKI=0
XA/LODXA03.XA=0
SCPS_101.22=0
SYSTEM.CNF=0
